h1 {
    text-align: center;
    color: white;
}

:root {
    --gradient: linear-gradient(
        147deg,
        #1d23db, 
        #5b1fde,
        #8e1fde,
        #ce1fde);
}
body {
    font-family: basic-sans, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 1.125em;
    line-height: 1.6;
    color: white;
    background-color: #000000;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 20s infinite alternate;

}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}
